html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: deepskyblue;
  font-family: Arial, sans-serif;
}
.container {
  background-color: darkorchid;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h2 {
  margin-bottom: 20px;
}
input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid cornflowerblue;
  border-radius: 5px;
  box-sizing: border-box;
}
button {
  width: 100%;
  padding: 10px;
  background-color: cyan;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: fuchsia;
}